// swift-tools-version: {{ .SwiftToolsVersion }}
import PackageDescription

{{- if .SwiftBuildSettings }}
#if TUIST
import ProjectDescription

let strictPackageBaseSettings: SettingsDictionary = [
{{- range .SwiftBuildSettings }}
    {{ packageBuildSetting .Key .Value }}
{{- end }}
]

let packageSettings = PackageSettings(
    baseSettings: .settings(base: strictPackageBaseSettings)
)
#endif
{{- end }}

let modulesPath = {{ swiftLiteral .ModulesPath }}

let package = Package(
    name: {{ swiftLiteral (printf "%sDependencies" .AppName) }},
    dependencies: [
{{- range .LocalPackages }}
        .package(path: {{ swiftLiteral (packagePath $.ModulesPath .) }}),
{{- end }}
    ],
    targets: []
)
