import ProjectDescription

let config = Config(
    project: .tuist(
        compatibleXcodeVersions: .all,
        swiftVersion: {{ swiftLiteral .SwiftVersion }},
        generationOptions: .options()
    )
)
