import {{.InterfacePackageName}}
import Relux

extension {{.ModuleName}}.Business {
    public actor Flow: Relux.Flow {
        public let dispatcher: Relux.Dispatcher
        private let state: {{.ModuleName}}.Business.State
        private let service: any {{.ModuleName}}.Business.IService

        public init(
            dispatcher: Relux.Dispatcher? = .none,
            state: {{.ModuleName}}.Business.State,
            service: any {{.ModuleName}}.Business.IService
        ) async {
            let defaultDispatcher = await Self.defaultDispatcher
            self.dispatcher = dispatcher ?? defaultDispatcher
            self.state = state
            self.service = service
        }

        @discardableResult
        public func apply(_ effect: any Relux.Effect) async -> Relux.ActionResult {
            guard let effect = effect as? {{.ModuleName}}.Business.Effect else { return .success }
            return await internalApply(effect)
        }

        private func internalApply(_ effect: {{.ModuleName}}.Business.Effect) async -> Relux.ActionResult {
            switch effect {
            case .scaffoldedEffect:
                return await handleScaffoldedEffect()
            }
        }

        private func handleScaffoldedEffect() async -> Relux.ActionResult {
            let result = await service.scaffoldedMethod()
            switch result {
            case .success(let id):
                return await actions {
                    {{.ModuleName}}.Business.Action.scaffoldedSuccess(id: id)
                }
            case .failure(let error):
                return await actions {
                    {{.ModuleName}}.Business.Action.scaffoldedFail(error: error)
                }
            }
        }
    }
}
