import ProjectDescription

let hostBundleId = "{{ .HostBundleID }}"
let developmentTeam = "{{ .DevelopmentTeam }}"
let marketingVersion = "{{ .MarketingVersion }}"
let currentProjectVersion = "{{ .ProjectVersion }}"
let minTarget = "{{ .MinTarget }}"

let project = Project(
    name: "{{ .ProjectName }}",
    targets: [
        .target(
            name: "{{ .TargetName }}",
            destinations: .iOS,
            product: .appExtension,
            bundleId: "\(hostBundleId).{{ .BundleIDSuffix }}",
            deploymentTargets: .iOS(minTarget),
            infoPlist: .extendingDefault(with: [
                "CFBundleShortVersionString": .string(marketingVersion),
                "CFBundleVersion": .string(currentProjectVersion),
                "NSExtension": .dictionary([
                    "NSExtensionPointIdentifier": .string("{{ .ExtensionPointIdentifier }}"),
                ]),
            ]),
            sources: ["Sources/**"],
            dependencies: [
            ],
            settings: .settings(
                base: [
                    "IPHONEOS_DEPLOYMENT_TARGET": .string(minTarget),
                    "DEVELOPMENT_TEAM": .string(developmentTeam),
{{- range .SwiftBuildSettings }}
                    {{ projectBuildSetting .Key .Value }}
{{- end }}
                    "MARKETING_VERSION": .string(marketingVersion),
                    "CURRENT_PROJECT_VERSION": .string(currentProjectVersion),
                ]
            )
        )
    ]
)
