import WidgetKit
import Foundation

public struct {{.AppTypeName}}TimelineEntry: TimelineEntry {
    public let date: Date
    public let title: String
    public let isToggled: Bool

    public init(date: Date, title: String, isToggled: Bool) {
        self.date = date
        self.title = title
        self.isToggled = isToggled
    }
}
