import WidgetKit
import Foundation

public struct {{.AppTypeName}}TimelineProvider: TimelineProvider {
    private let defaults = UserDefaults(suiteName: "{{.AppGroupID}}")

    public init() {}

    public func placeholder(in context: Context) -> {{.AppTypeName}}TimelineEntry {
        {{.AppTypeName}}TimelineEntry(date: Date(), title: "{{.AppName}}", isToggled: false)
    }

    public func getSnapshot(in context: Context, completion: @escaping ({{.AppTypeName}}TimelineEntry) -> Void) {
        let toggled = defaults?.bool(forKey: "widgetToggle") ?? false
        completion({{.AppTypeName}}TimelineEntry(date: Date(), title: "{{.AppName}}", isToggled: toggled))
    }

    public func getTimeline(in context: Context, completion: @escaping (Timeline<{{.AppTypeName}}TimelineEntry>) -> Void) {
        let toggled = defaults?.bool(forKey: "widgetToggle") ?? false
        let entry = {{.AppTypeName}}TimelineEntry(date: Date(), title: "{{.AppName}}", isToggled: toggled)
        completion(Timeline(entries: [entry], policy: .after(Date().addingTimeInterval(60 * 15))))
    }
}
