import SwiftUIPlus

extension {{.ModuleName}}.UI {
    public struct {{.ComponentName}}: View {
        public init() {}

        public var body: some View {
            Text("{{.ComponentName}}")
        }
    }
}
