import Foundation

extension {{.ModuleName}}.Data.Api.Http {
    public protocol IFetcher: Actor {
        func fetchScaffolded() async throws -> {{.ModuleName}}.Data.Api.DTO.ScaffoldedResponse
    }
}
