import AppIntents
import WidgetKit

public struct {{.AppTypeName}}WidgetToggleIntent: AppIntent {
    public static var title: LocalizedStringResource = "Toggle Widget"
    public static var description: IntentDescription = "Toggles shared widget state"

    public init() {}

    public func perform() async throws -> some IntentResult {
        let defaults = UserDefaults(suiteName: "{{.AppGroupID}}")
        let current = defaults?.bool(forKey: "widgetToggle") ?? false
        defaults?.set(!current, forKey: "widgetToggle")

        WidgetCenter.shared.reloadAllTimelines()

        return .result()
    }
}
